[submodule "plugins/redmine_text_blocks"]
	path = plugins/redmine_text_blocks
	url = https://github.com/gtt-project/redmine_text_blocks.git
[submodule "plugins/redmine_gtt"]
	path = plugins/redmine_gtt
	url = https://github.com/gtt-project/redmine_gtt.git
[submodule "plugins/redmine_gtt_print"]
	path = plugins/redmine_gtt_print
	url = https://github.com/gtt-project/redmine_gtt_print.git
[submodule "public/themes/redmine_theme_georepublic"]
	path = public/themes/redmine_theme_georepublic
	url = git@github.com:Georepublic/redmine_theme_farend_bleuclair.git
	branch = redmine4.2
